@font-face {
    font-family: Ysabeau;
    src: url(../fonts/Ysabeau-Regular.ttf);
}
@media (max-width: 992px){
    .about h4 {
        margin-top: 60px;
        margin-bottom: 0;
    }
    .about-text{
        padding-bottom: 200px;
    }
}
@media (min-width: 1200px){
    .cards h2{
        display: none;
    }
}
@media (max-width: 1200px){
    .cards-holder .card{
        width: 349px;
        box-shadow: 10px 10px 40px 20px #0000001A;
        border: none;
        border-radius: 0;
        margin-right: 0;
        background-color: #ffffff;
        margin-top: 50px;
        padding: 50px;
    }
    .cards h2{
        display: block;
        margin-top: 100px;
    }
}
@media(max-width: 992px){
    .banner .banner-img{
        display: none;
    }
    .banner .banner-text{
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
body{
    font-family: Ysabeau;
}
.footer{
    background-image: radial-gradient(
        #F1EBE2 50%,
        #AB8D84 100%
      );
}
a{
    color: black;
    text-decoration: none;
}
p{
    margin-bottom: 0;
}
.review{
    background-color: #F1EBE2;
}
.banner{
        background-image: radial-gradient(
          farthest-corner at 100px 100px,
          #F1EBE2 10%,
          #AB8D84 80%
        );
} */
nav .nav-item{
    color: black;
}
.btn-burgundy{
    padding: 10px 10px 10px 10px;
    background-color: #5B0D08;
    color: white;
    border-radius: 0;
}

.btn-burgundy:hover{
    padding: 10px 10px 10px 10px;
    background-color: #aa150a;
    color: white;
    border-radius: 0;
}

.card{
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    border: none;
    border-radius: 0;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -137px;
    padding: 50px;
}
.cards-holder{
    display: flex;
    justify-content: center;
}
.img-top{
    margin-top: -120px;
}
.card-border{
    padding: 10px 10px 10px 10px;
}
.card-hover:hover{
    background-color: #F1EBE2;
}
.img-border{
    border-radius: 5000px;
}

.element-animation {
    opacity: 1;
    transform: translateY(20px);
  }
  
  .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }
  .update{
    opacity: 0;
  }

  .card-img-top{
    object-fit: cover;
  }